@font-face{
  font-family:'peyda';
  src:url(./assets/fonts/Peyda-Regular.ttf) format('truetype');
}
@font-face{
  font-family:bold;
  src:url(./assets/fonts/Peyda-Bold.ttf) format('truetype');
}
*{
  font-family: 'peyda';
}